.loader-container {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  filter: brightness(0) invert(1); /* Ako koristiš crnu ikonicu */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
